/*****************/
/* NAVBAR OFFSET */
/*****************/

body {
    padding-top: 50px;
}

/**********/
/* Navbar */
/**********/

.navbar-inverse {
     background-color: #e31b2c; /* 227 - 27 - 44 */
     background-image: linear-gradient(to right, #e31b2c, #e31b2c);
     border-width: 0;
 }

.navbar-brand {
    color : #fff !important;
}

.navbar-brand:hover {
    color : #fff !important;
}

/**********/
/* Global */
/**********/

strong {
    color: #e31b2c;
}
/****************/
/* One page row */
/****************/

.container-bg-bis {
    background-color: #f0f0f0;
}

.vertical-align {
    display: flex;
    align-items: center;
}

div.onepagerow {
    margin: 3em;
}

div.onepagerow > div > h4 {
    text-align: center;
    text-transform: uppercase;
}

div.onepagerow > div > h4.appendH4 {
    padding-top: 2em
}

div.onepagerow > div > h5 {
    text-align: center;
    text-transform: uppercase;
}

.itemLogo {
    display: block;
    margin: auto;
    height: 100px;
    width: 100px;
    padding: 1em;
}

div.onepagerow > div > p {
    text-align: justify;
}

.onepagerow-fluid {
    padding-left: 0;
    padding-right: 0;
}

img.wide-fluid {
    height: 500px;
    min-width: 100%;
}

/**************************/
/* CUSTOMIZE THE CAROUSEL */
/**************************/

.carousel-control {
    height: 160px;
    margin-top: 120px;

    font-size: 120px;
    border: 0;
    z-index: 10;
    color: #ffffff;
    opacity: 1;

}

.carousel-control.left {
    background-image: -webkit-linear-gradient(left,rgba(0,0,0,0) 0,rgba(0,0,0,0) 0%);
    background-image: -o-linear-gradient(left,rgba(0,0,0,0) 0,rgba(0,0,0,0) 0%);
    background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,0)),to(rgba(0,0,0,0)));
    background-image: linear-gradient(to right,rgba(0,0,0,0) 0,rgba(0,0,0,0) 0%);
}

.carousel-control.right {
    background-image: -webkit-linear-gradient(left,rgba(0,0,0,0) 0,rgba(0,0,0,0) 0%);
    background-image: -o-linear-gradient(left,rgba(0,0,0,0) 0,rgba(0,0,0,0) 0%);
    background-image: -webkit-gradient(linear,left top,right top,from(rgba(0,0,0,0)),to(rgba(0,0,0,0)));
    background-image: linear-gradient(to right,rgba(0,0,0,0) 0,rgba(0,0,0,0) 0%);
}

.carousel .item {
    height: 400px;
}
.carousel img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    height: 500px;
}

.carousel-caption {
    padding-bottom: 100px;
}

.carousel-caption h1 {
    font-size: 60px;
}
.carousel-caption p {
    font-size: 40px;
}

/**********/
/* FOOTER */
/**********/

/* Set the fixed height of the footer here */
#footer {
    background-color: #7c7c7c;
    background-image: linear-gradient(to right, #7c7c7c, #7c7c7c);
    border-width: 0;

    margin-top:50px;
    padding-top:5px;
    padding-bottom:20px;

    color: #fff;
}

#copyright {
    padding-top: 15px;
}

#footer a {
    color:#aaa;
}

#footer h4 {
    color: #aaa;
}

/*******/
/* MAP */
/*******/

#map-canvas {
    min-height: 500px;
    margin: 0;
    padding: 0;
}

#map-exhibition {
    min-height: 350px;
    margin: 0;
    padding: 0;
}

small {
  font-size: 10px;
}

/*********/
/* TABLE */
/*********/
table.borderless td,table.borderless th{
    border: none !important;
}
